// !!! DOM !!!
:root {
  color: var(--root-color);
  background: var(--root-background-color);
}
//todo da gestire
/* @media (prefers-color-scheme: dark) {
  :root {
    color: var(--root-color-dark);
    background: var(--root-background-color-dark);
  }
} */
body {
  min-height: var(--root-body-min-height);
  transition: color 0.5s, background-color 0.5s;
  line-height: var(--root-body-line-height);
  font-family: var(--root-font-family);
  font-size: var(--root-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// !!! BOX !!!
.box {
  background-color: $spak-box-bg;
  border-radius: $spak-box-border-radius;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: $spak-box-color;
  display: block;
  padding: $spak-box-padding;
}

// !!! CONTAINER !!!
.container {
  &-flex {
    display: flex;
  }
  &-center {
    @extend .container-flex;
    align-items: center;
    justify-content: center;
  }
  &-end {
    @extend .container-flex;
    align-items: end;
    justify-content: end;
  }
}

[class^="container"] {
  &.v,
  &.f-col {
    flex-flow: column nowrap;
  }
  &.h,
  &.f-row {
    flex-flow: row nowrap;
    &-wrap {
      flex-flow: row wrap;
    }
  }
  &.h .between,
  &.f-row .between,
  &.between {
    width: 100%;
    justify-content: space-between;
  }
  &.h .around,
  &.f-row .around,
  &.around {
    width: 100%;
    justify-content: space-around;
  }
}

@for $i from 1 through 10 {
  .h-#{$i*10}vh {
    height: #{$i * 10 + "vh"} !important;
  }
  .min-h-#{$i*10}vh {
    min-height: #{$i * 10 + "vh"} !important;
  }
  .h-#{$i*10} {
    height: #{$i * 10 + "%"} !important;
  }
  .w-#{$i*10} {
    width: #{$i * 10 + "%"} !important;
  }
  .gap-#{$i} {
    gap: #{$i * 0.1 + "em"};
  }
}
.h-available {
  height: -moz-available;
  height: -webkit-available;
  height: available;
}
.w-fill-available {
  //width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.section {
  & + .section {
    padding-top: 0;
  }
}

// !!! CARDS !!!

.card {
  background-color: $spak-card-bg-color;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em $spak-card-shadow-color,
    0 0 0 1px $spak-card-shadow-color;
  color: $spak-card-txt-color;
  max-width: 100%;
  position: relative;
  padding: 0;
  & .card-divider {
    background-color: $spak-card-divider-bg-color;
    color: $spak-card-divider-txt-color;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card-content:first-child,
.card-footer:first-child,
.card-header:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card-header {
  background-color: $spak-card-header-bg-color;
  color: $spak-card-header-txt-color;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em $spak-card-shadow-color;
  display: flex;
}
.card-header-title {
  background-color: $spak-card-header-title-bg-color;
  color: $spak-card-header-title-txt-color;
  align-items: center;
  display: flex;
  //flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.card-content {
  background-color: $spak-card-content-bg-color;
  color: $spak-card-content-txt-color;
  padding: 1.5rem;
}
.card-footer {
  background-color: $spak-card-footer-bg-color;
  color: $spak-card-footer-txt-color;
  border-top: 1px solid $spak-card-footer-border-color;
  align-items: stretch;
  display: flex;
  padding: 0 0 0.75rem 0;
}
.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 0.75rem;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid $spak-card-footer-border-color;
}
.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

// !!! GOOGLE MATERIAL SYMBOLS !!!
//-- consiglio - usare in Vue con componente MaterialIcon.vue
//-- settings for google material symbols
.material-symbols-container {
  display: flex;
  align-items: center;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  &.fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  &.fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  &.fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}

// !!! ICONS !!!
/* .icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
} */

// !!! NAVBAR !!!
.navbar-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

// !!! POSITION !!!
.sticky-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

// !!! EFFECTS !!!
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  // da inserire background-image
  @include breakpoint(mobile) {
    background-attachment: scroll;
  }
}

// !!! TABLE !!!
.spak.table {
  & td,
  & th {
    border-color: $spak-table-border-color;
  }
  & .table-header {
    background-color: $spak-table-header-bg-color;
    color: $spak-table-header-txt-color;
    & th {
      color: $spak-table-header-txt-color;
    }
  }
  & tbody {
    & tr {
      & th {
        color: $spak-table-th-txt;
      }
      &:hover,
      &:not(.is-selected):hover, //-- override bulma
      &:active,
      &:focus {
        background-color: $spak-table-hover-bg;
      }
    }
  }
  //-- override bulma striped
  /* &.is-striped tbody tr:not(.is-selected):nth-child(2n) {
    background-color: $spak-table-hover-bg;
  } */
  &.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: $spak-table-hover-bg;
  }
}

// !!! TEXT !!!

.spak {
  &-subtitle {
    font-size: $spak-subtitle-fs;
    font-weight: $spak-subtitle-fw;
    color: $spak-subtitle-color;
  }
  &-title {
    color: $spak-title-color;
    font-size: $spak-title-fs;
    font-weight: $spak-title-fw;
    line-height: $spak-title-line-height;
    padding: $spak-title-padding-y $spak-title-padding-y;
  }
}

.txt {
  &-c,
  &-center {
    text-align: center !important;
  }
  &-r,
  &-end {
    text-align: right !important;
  }
  &-l,
  &-start {
    text-align: left !important;
  }
  &-big {
    font-size: 1.5em;
    &-c {
      @extend .txt-big;
      @extend .txt-c;
    }
  }
  &.align-bottom {
    vertical-align: bottom !important;
  }
  &.align-top {
    vertical-align: top;
  }
  &-s {
    font-size: 0.8em;
  }
  &-xs {
    font-size: 0.6em;
  }
  &-label {
    padding-left: 0.25em;
    &-s {
      @extend .txt-label;
      @extend .txt-s;
    }
  }
  &-strong {
    font-weight: bold;
  }
  &-upper {
    text-transform: uppercase;
  }
  &-form {
    &-hint {
      @extend .txt-s;
      color: rgba($primary-text, 0.7);
      padding: 0 0.375rem;
    }
    &-err {
      @extend .txt-s;
      color: $error-color;
      padding: 0 0.375rem;
    }
  }
}

//!!! SEPARATOR !!!
.hr-text {
  //* usage
  //* <hr class="hr-text" data-content="oppure" />

  background-color: transparent;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #24242491, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    color: #24242491;
    background-color: var(--root-background-color);
  }
}

//!!! BULMA OVERRIDE
ul {
  list-style: disc;
  li {
    ul,
    ol {
      margin: 0.5em 1em;
    }
  }
  &.v2 {
    list-style: circle;
  }
  &.v3 {
    list-style: square;
  }
}

/* hr {
  background-color: transparent;
} */

//!!! SWEETALERT BUTTON
.swal-deny {
  background-color: transparent;
  color: $primary-text;
  margin: 0.3em;
  font-size: 0.8em;
  padding: 0.3em;
  border: none;
  background-color: tint-color($primary, 80%);
  &:hover,
  &:focus,
  &:active {
    background-color: tint-color($primary, 85%);
    color: $primary-text;
  }
}

.swal-cancel {
  @extend .btn;
  color: $primary-text;
  background-color: tint-color($primary, 80%);
  border-color: tint-color($primary, 80%);
  margin-left: 0.8em;
  &:hover,
  &:focus,
  &:active {
    background-color: tint-color($primary, 85%);
    border-color: tint-color($primary, 85%);
    color: $primary-text;
  }
}
