
// !!! DOM !!!
:root {
  color: var(--root-color);
  background: var(--root-background-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--root-color-dark);
    background: var(--root-background-color-dark);
  }
}
body {
  min-height: var(--root-body-min-height);
  transition: color 0.5s, background-color 0.5s;
  line-height: var(--root-body-line-height);
  font-family: var(--root-font-family);
  font-size: var(--root-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// !!! BOX !!!
.box {
  background-color: $spak-box-bg;
  border-radius: $spak-box-border-radius;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: $spak-box-color;
  display: block;
  padding: $spak-box-padding;
}

// !!! CONTAINER !!!
.container {
  &-flex {
    display: flex;
  }
  &-center {
    @extend .container-flex;
    align-items: center;
    justify-content: center;
  }
  &-end {
    @extend .container-flex;
    align-items: end;
    justify-content: end;
  }
}

[class^="container"] {
  &.v,
  &.f-col {
    flex-flow: column nowrap;
  }
  &.h,
  &.f-row {
    flex-flow: row nowrap;
    &-wrap {
      flex-flow: row wrap;
    }
  }
  &.h .between,
  &.f-row .between,
  &.between {
    width: 100%;
    justify-content: space-between;
  }
  &.h .around,
  &.f-row .around,
  &.around {
    width: 100%;
    justify-content: space-around;
  }
}

@for $i from 1 through 10 {
  .h-#{$i*10}vh {
    height: #{$i * 10 + "vh"} !important;
  }
  .min-h-#{$i*10}vh {
    min-height: #{$i * 10 + "vh"} !important;
  }
  .h-#{$i*10} {
    height: #{$i * 10 + "%"} !important;
  }
  .w-#{$i*10} {
    width: #{$i * 10 + "%"} !important;
  }
}
.h-available {
  height: -moz-available;
  height: -webkit-available;
  height: available;
}

// !!! CARDS !!!

$card-bg-color: $spak-card-bg-color;
$card-color: $spak-card-txt-color;
$card-header-bg-color: $spak-card-header-bg-color;
$card-header-txt-color: $spak-card-header-txt-color;
$card-header-title-bg-color: $spak-card-header-title-bg-color;
$card-header-title-txt-color: $spak-card-header-title-txt-color;
$card-shadow-color: $spak-card-shadow-color;
$card-content-bg-color: $spak-card-content-bg-color;
$card-content-txt-color: $spak-card-content-txt-color;
$card-footer-bg-color: $spak-card-footer-bg-color;
$card-footer-txt-color: $spak-card-footer-txt-color;
$card-footer-border-color: $spak-card-footer-border-color;

.card {
  background-color: $card-bg-color;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em $card-shadow-color,
    0 0 0 1px $card-shadow-color;
  color: $card-color;
  max-width: 100%;
  position: relative;
  padding: 0;
  & .card-divider {
    background-color: $card-color;
    color: $card-bg-color;
    font-weight: 300;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.card-content:first-child,
.card-footer:first-child,
.card-header:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-content:last-child,
.card-footer:last-child,
.card-header:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card-header {
  background-color: $card-header-bg-color;
  color: $card-header-txt-color;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em $card-shadow-color;
  display: flex;
}
.card-header-title {
  background-color: $card-header-title-bg-color;
  color: $card-header-title-txt-color;
  align-items: center;
  display: flex;
  //flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}
.card-content {
  background-color: $card-content-bg-color;
  color: $card-content-txt-color;
  padding: 1.5rem;
}
.card-footer {
  background-color: $card-footer-bg-color;
  color: $card-footer-txt-color;
  border-top: 1px solid $card-footer-border-color;
  align-items: stretch;
  display: flex;
}
.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid $card-footer-border-color;
}
.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

// !!! GOOGLE MATERIAL SYMBOLS !!!
//-- consiglio - usare in Vue con componente MaterialIcon.vue
//-- settings for google material symbols
.material-symbols-container {
  display: flex;
  align-items: center;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 15;
  font-size: 1.2em;
  //margin-right: 0.2em;

  //* dinamic icon
  /* &.name::before {
    content: "name";
  } */
}

// !!! ICONS !!!
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

// !!! NAVBAR !!!
.navbar-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

// !!! MEDIA QUERIES !!!
.mobile-col {
  @include breakpoint(mobile) {
    display: flex;
    flex-flow: column;
  }
}

.display-none {
  display: none;
  &-mobile {
    @include breakpoint(mobile) {
      display: none;
    }
  }
}

// !!! POSITION !!!
.sticky-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

// !!! EFFECTS !!!
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  // da inserire background-image
  @include breakpoint(mobile) {
    background-attachment: scroll;
  }
}

// !!! TABLE !!!
$table-bg: $spak-table-bg-color;
$table-font: $spak-table-txt-color;
$table-head-bg: $spak-table-header-bg-color;
$table-head-font: $spak-table-header-txt-color;
$table-border-color: $spak-table-border-color;
.table-bs-p {
  background-color: $table-bg;
  color: $table-font;
  border-color: $table-border-color;
  & .table-header {
    background-color: $table-head-bg;
    color: $table-head-font;
  }

  & td:not(:first-child):not(:last-child):not(caption) {
    border: inherit;
    border-width: 0.025em 0.025em;
  }

  &.table-hover {
    --bs-table-hover-bg: $spak-table-hover-bg;
    --bs-table-hover-color: $spak-table-hover-color;
  }

  & tbody {
    & tr {
      & th {
        background-color: $spak-table-th-bg;
        color: $spak-table-th-txt;
      }
      &:hover,
      &:active,
      &:focus {
        & th {
          background-color: $spak-table-th-bg;
          color: $spak-table-th-txt;
        }
      }
    }
  }
}

.table-spak {
  //background-color: $table-bg;
  color: $table-font;
  border-color: $table-border-color;
  & .table-header {
    background-color: $table-head-bg;
    color: $table-head-font;
  }
  & tbody {
    & tr {
      & th {
        background-color: $spak-table-th-bg;
        color: $spak-table-th-txt;
      }
      &:hover,
      &:active,
      &:focus {
        & th {
          background-color: $spak-table-th-bg;
          color: $spak-table-th-txt;
        }
      }
    }
  }
}

// !!! TEXT !!!

.subtitle {
  font-size: $spak-subtitle-fs;
  font-weight: $spak-subtitle-fw;
}

.txt {
  &-c {
    text-align: center;
  }
  &-r {
    text-align: right;
  }
  &-l {
    text-align: left;
  }
  &-big {
    font-size: 1.5em;
    &-c {
      @extend .txt-big;
      @extend .txt-c;
    }
  }
  &-s {
    font-size: 0.8em;
  }
  &-xs {
    font-size: 0.6em;
  }
  &-label {
    padding-left: 0.25em;
    &-s {
      @extend .txt-label;
      @extend .txt-s;
    }
  }
  &-upper {
    text-transform: uppercase;
  }
  &-form {
    &-hint {
      @extend .txt-s;
      color: rgba($primary-text, 0.7);
      padding: 0 0.375rem;
    }
    &-err {
      @extend .txt-s;
      color: $error-color;
      padding: 0 0.375rem;
    }
  }
}
