//!!! project colors
// can import this file in vue components

$primary: #83bff1; //--btn bg color
$primary-text: #488dc5; //--btn txt
$secondary: #1c3144; //--secondary elements bg
$secondary-text: #0c1b27; //--secondary elements txt //ex.card table

$white: #fff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;
$black: #181818;
$black-soft: #222222;
$black-mute: #282828;
$indigo: #2c3e50;
$text-light-1: $indigo;
$text-light-2: #3c3c3ca8;
$text-dark-1: $white;
$text-dark-2: #ebebeba3;
$error-color: #fd5f5fd0;

$spak-color-prefix: --spak-color-;
$spak-color: (
  primary: $primary,
  primary-text: $primary-text,
  secondary: $secondary,
  secondary-text: $secondary-text,
  "white": $white,
  white-soft: $white-soft,
  white-mute: $white-mute,
  "black": $black,
  black-soft: $black-soft,
  black-mute: $black-mute,
  "indigo": $indigo,
  text-light-1: $indigo,
  text-light-2: $text-light-2,
  text-dark-1: $white,
  text-dark-2: $text-dark-2,
  error-color: $error-color,
);

//!!! COLOR FUNCTIONS !!!
// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return mix(rgba($foreground, 1), $background, opacity($foreground) * 100);
}

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if(
    $weight > 0,
    shade-color($color, $weight),
    tint-color($color, -$weight)
  );
}

//!!! CSS variables !!!
:root {
  //-- each item in spak-color map
  //-- ex. --spak-color-primary
  @each $name, $root in $spak-color {
    //-- second loop for submaps
    @if type-of($root) == "map" {
      @each $subname, $subroot in $root {
        #{$spak-color-prefix}#{$name}-#{$subname}: $subroot;
      }
    } @else {
      #{$spak-color-prefix}#{$name}: $root;
    }
  }
}
