@use "sass:color";
@use "sass:meta";

//!!! project colors

$primary: #c1121f; //--btn bg color
$primary-text: #a7000b; //--btn txt
$secondary: #780000; //--secondary elements bg
$secondary-text: #570000; //--secondary elements txt //ex.card table

$beige: #fdf0d5;
$blue1: #003049;
$blue2: #669bbc;

$white: #fff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;
$black: #181818;
$black-soft: #222222;
$black-mute: #282828;
$indigo: #2c3e50;
$text-light-1: $indigo;
$text-light-2: #3c3c3ca8;
$text-dark-1: $white;
$text-dark-2: #ebebeba3;
$error-color: #fd5f5fd0;

//!!! COLOR FUNCTIONS !!!
// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return color.mix(
    rgba($foreground, 1),
    $background,
    color.opacity($foreground) * 100
  );
}

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return color.mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return color.mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if(
    $weight > 0,
    shade-color($color, $weight),
    tint-color($color, -$weight)
  );
}
