$orange: #ffbf69;
$orange-text: #ff9f1c;

.bg-img {
  background-image: url("@/assets/account/img/background-big.png");
  background-attachment: fixed;
  background-size: cover;
}

.card-container {
  padding: auto auto;
  height: 100%;
}

#register-form,
#compile-form {
  @extend .mobile-col;
}

#register-country {
  @extend .mobile-col;
}

#compile-country {
  grid-column: 1 / 3;
  //display: flex;
  //flex-flow: row nowrap;
  gap: 0.3em;
  & div {
    flex-grow: 1;
    //max-width: 25%;
    //min-width: 25%;
  }
}

.link-p {
  color: $orange-text;
  text-decoration: none;
  &:hover {
    color: desaturate($orange-text, 25%);
  }
}

.info-input {
  color: tint-color($secondary, 25%);
  font-size: 0.75em;
  font-weight: 400;
  margin: 0 0 1em 0;
  max-width: 30em;
  line-height: 1.2em;
}

.form-control {
  &.correct {
    border-color: #00ff00;
    & ~ .icon.is-right {
      color: #00ff00;
    }
  }
  &.wrong {
    border-color: #ff0000;
    & ~ .icon.is-right {
      color: #ff0000;
    }
  }
}

.swal-deny {
  background-color: transparent;
  color: $orange-text;
  margin: 0.3em;
  font-size: 0.8em;
  padding: 0.3em;
  border: none;
  background-color: tint-color($orange, 80%);
  &:hover,
  &:focus,
  &:active {
    background-color: tint-color($orange, 85%);
    color: $orange-text;
  }
}
